// .logo {
//   font-family: Montserrat;
//   font-size: 30px;
//   font-weight: 700;
//   color: $iconLogo;
// }

%logo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  color: $iconLogo;
}

// @mixin border() {
//   font-family: Montserrat;
// }
