
.wrap{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.box{
   border: 1px solid #000;
   height: 150px;
   width: 150px;
   border-radius: 50%;
   /* border-radius: 100%; */
}

.box:nth-child(1){
background-color: #0ced23;
position: absolute;
left: 125px;
bottom: 104px;
z-index: 1;
}

.box:nth-child(2){
    background-color: #0c71ed;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;


}

.box:nth-child(3){
    position: absolute;

    background-color: #ed0ce2;
    bottom: 125px;
    right: 104px;


}

.square{
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #0616a9;
}