.modal {
  background-color: #edf3f5;
}

.menu-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  color: #06826b;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
}
.menu-nav-item {
}
.menu-nav-link {
}
.active {
}
