// .header {
//   display: flex;
//   padding: 17px 0;
//   justify-content: space-between;
//   align-items: center;
// }

// .test {
//   // @extend .logo;
//   @extend %logo;
//   color: #322fe0;
// }

// .span {
//   color: #2fe035;
// }

// .header-logo {
//   // @include border()
//   // @extend logo;
//   @extend %logo;
// }

// .slice-logo {
//   color: $iconLogoSlice;
// }

// .header-nav {
// }

// .nav-list {
//   display: flex;
//   gap: 50px;
// }

// .nav-link {
//   color: #95e1d3;
//   font-family: Montserrat;
//   font-size: 14px;
//   font-weight: 400;
// }

// .nav-item {
// }

// .nav-link {
// }

// .active::after {
//   content: "";
//   display: block;
//   height: 3px;
//   width: 100%;
//   border-radius: 7px;
//   background-color: #f38181;
//   margin-top: 10px;
// }

// .nav-link:hover {
//   color: #f38181;
// }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  &-logo {
    display: block;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    color: $iconLogo;
    margin-bottom: 15px;

    .slice-logo {
      color: #2fe035;
    }
  }

  .header-nav {
    display: none;
  }

  .nav-list {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    color: $primaryColorText;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
  }

  .menu-nav-list {
  }
  .menu-nav-item {
  }
  .menu-nav-link {
  }
  .active {
  }

  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    .header-logo {
      margin-bottom: 0;
    }

    .header-menu {
      display: none;
    }
    .header-nav {
      display: flex;
    }

    .nav-list {
      flex-direction: row;
      column-gap: 20px;
    }

    .nav-item {
    }
  }
}
